*{margin:0px;
    padding:0px;
    }
    html {margin: 0px;
        padding: 0px;}
    
        body {margin: 0px;
                padding: 0px;
                font-family:'Montserrat','sans-serif';
                height:100vh;
                display: flex;
                align-items: center;
                }
   
        .container { height:90vh; 
                     width:80vw;
                    background-color: aqua;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                }

        .card {background-color: white;
               width: 80%;
                height: 70%;
                border-radius: 8px;
                display: flex;
                box-shadow: 0px 0px 10px 1px ;
                        }
            .card .images,
            .card .infos {
                width:50%;
                }

        .infos .price {display: flex;
                        width: 40%;
                        justify-content: space-between;
        }

        .infos .more-infos {display: flex;
                            width: 80%;
                            justify-content: space-between;
                            color: gray;
        }
        
        .infos{display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 40px;
            }
        .rewiews{
            color: gold;
        }
        h3:nth-child(2) {
            color: gray;
            text-decoration: line-through;
}
.more-infos h5:nth-child(1) {
        color:black
}   
.info-content { font-size: 12px;}
.buttons{height: 40px;
        display:flex;
        justify-content: space-between;
}
.buttons button{
        width:45%;
        font: inherit;
        border: 2px solid #5fdffc;
        border-radius: 25px;
        background-color: white;
}
.buttons button:nth-child(1) i {
        margin-right: 10px;
}
.buttons button:hover {

    color: white;
    background-color: #5fdffc;
}
.slider {
    height: 80%;
    display: flex;
    align-items: center;
}
.slider img {
    width: 60%;
    margin: auto;
}
.img-slider {
    display: flex;
    height:40px;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}
.img-slider div{
    width: 50%;
    height: 50%;
}
.img-slider img {
    height:300%;
}